body {
  overflow-y: unset !important;
}
.__nuxt-error-page {
  background-color: transparent !important;
  font-family: inherit !important;
}

.main-header .header-part-right {
  margin-right: 15px;
}
.card-profile-1 .avatar {
  width: 50% !important;
  height: 50% !important;
}

.page-title {
  margin-bottom: 20px;
}

.small,
small {
  font-size: 50% !important;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.modal-content {
  background-color: transparent !important;
  border: 0px;
}
.input-extra-large {
  height: 50px !important;
  border-radius: 50px !important;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  border-color: white !important;
}

.hide {
  display: none;
}
.list-group-item {
  padding: 0.55rem 1rem !important;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.15rem 0.5rem !important;
}
.btn-sm,
.dropdown-toggle:after {
  content: none !important;
}
.datepicker-sm {
  display: inline-block;
}
.datepicker-sm input {
  font-size: 14px;
  padding: 0;
  border: none;
  margin-top: 5px;
  text-align: center;
  background: transparent;
}

.datepicker-sm input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-icon.rounded-circle-md {
  width: 32px;
  height: 32px;
  margin: 0 !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.f-r {
  float: right;
}

.tab-content {
  padding: 1rem 0rem !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.ti-tags {
  flex-wrap: unset !important;
}

.ti-tag {
  background-color: transparent !important;
}

.ti-tag .ti-icon-close {
  color: black;
}

.ti-selected-item {
  background-color: #3f51b5 !important;
}

.ti-deletion-mark {
  background-color: #e54d42 !important;
}

.ti-new-tag-input-wrapper input {
  min-width: unset !important;
}

.list-item-tags-input .ti-input {
  border: none !important;
  padding: 0 !important;
}
.list-item-tags-input .ti-tag {
  padding: 0 !important;
  margin: 0 !important;
}
.tags-input,
.tags-input input {
  background-color: transparent !important;
}
.full-width {
  width: 100%;
}

input::placeholder {
  color: #d0d0d0;
}

.bd-no-border > button {
  border: none;
  padding: 0px !important;
  background: transparent !important;
}

.bd-no-border > button:focus,
.bd-no-border > button:hover {
  box-shadow: none !important;
}

.dialog .title {
  margin-top: 10px !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ql-toolbar.ql-snow {
  border: 1px solid #dfdfdf !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container.ql-snow {
  border: 1px solid #dfdfdf !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0 !important;
}

.ql-container {
  font-family: unset !important;
}

.ql-editor {
  min-height: 100px !important;
  font-size: 12px !important;
}

.quillWrapper .ql-snow.ql-toolbar button svg {
  width: unset !important;
  height: unset !important;
}

.quillWrapper .ql-snow.ql-toolbar .ql-formats {
  margin-bottom: 5px !important;
}

.chat-sidebar-container,
.chat-sidebar-container .chat-content-wrap .chat-content {
  height: fit-content !important;
}

.chat-sidebar-container .chat-content-wrap .chat-content {
  padding: 5px 0 0 !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-t-25 {
  margin-top: 25px;
}

.nav-tabs {
  border-bottom: 2px solid black !important;
}

.nav-tabs .nav-item .nav-link.active {
  background: transparent !important;
  border: 2px solid transparent !important;
  border-color: black black #fff !important;
  margin-bottom: -1px;
}

.blur {
  filter: blur(3px);
}

.spinner-sm {
  width: 2em !important;
  height: 2em !important;
}

.note-description p {
  margin: 0 !important;
}
